<config>
    <modules>
        <Sariina_CustomerPoints>
            <version>1.0</version>
        </Sariina_CustomerPoints>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <CustomerPoints after="Sariina_Aasud">Sariina_CustomerPoints_Adminhtml</CustomerPoints>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <customerpoints>
                <use>standard</use>
                <args>
                    <module>Sariina_CustomerPoints</module>
                    <frontName>points</frontName>
                </args>
            </customerpoints>
            <customer>
                <args>
                    <modules>
                        <CustomerPoints before="Sariina_Aasud">Sariina_CustomerPoints_Rewrites_Aasud</CustomerPoints>
                    </modules>
                </args> 
            </customer>
        </routers>
        <layout>
            <updates>
                <customerpoints>
                    <file>customerpoints.xml</file>
                </customerpoints>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sariina_CustomerPoints>
                    <files>
                        <default>Sariina_CustomerPoints.csv</default>
                    </files>
                </Sariina_CustomerPoints>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <sariina_customerpoints>
                <class>Sariina_CustomerPoints_Helper</class>
            </sariina_customerpoints>
        </helpers>
        <blocks>
            <sariina_customerpoints>
                <class>Sariina_CustomerPoints_Block</class>
            </sariina_customerpoints>
        </blocks>
        <models>
            <sariina_customerpoints>
                <class>Sariina_CustomerPoints_Model</class>
                <resourceModel>customerpoints_resource</resourceModel>
            </sariina_customerpoints>
            <customerpoints_resource>
                <class>Sariina_CustomerPoints_Model_Resource</class>
                <entities>
                    <history>
                        <table>sariina_customerpoints_history</table>
                    </history>
                    <options>
                        <table>sariina_customerpoints_options</table>
                    </options>
                    <view>
                        <table>sariina_customerpoints_leagues_view</table>
                    </view>
                </entities>
            </customerpoints_resource>
        </models>
        <resources>
            <customerpoints_setup>
                <setup>
                    <module>Sariina_CustomerPoints</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerpoints_setup>
            <customerpoints_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerpoints_read>
            <customerpoints_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerpoints_write>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <sariina_customerpoints_sales_order_save_after>
                        <class>sariina_customerpoints/observer</class>
                        <method>assignPoints</method>
                    </sariina_customerpoints_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Sariina_CustomerPoints>
                    <files>
                        <default>Sariina_CustomerPoints.csv</default>
                    </files>
                </Sariina_CustomerPoints>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <customerpoints_startleague>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run>
                    <model>sariina_customerpoints/cron::startLeague</model>
                </run>
            </customerpoints_startleague>
        </jobs>
    </crontab>
</config>